# Ignore all files by default
*

# This file
!.gitignore
!install.sh
!README.md

# Starship shell prompt configuration
!starship.toml

# Fish shell configuration
!fish
!fish/config.fish

# Git configuration
!git
!git/config
