# Ignore all files by default
*

# This file
!.gitignore

# Starship shell prompt configuration
!starship.toml

# Fish shell configuration
!fish
!fish/config.fish
!fish/starship_cygwin.fish

# Doom Emacs configuration
!doom
!doom/*

# Git configuration
!git
!git/config
